body{
    background: linear-gradient(to right, white,#00ff04be);  
}

@font-face {
    font-family: Font;
    src: url('../font/7Hi3uc7D.ttf');
}

.beauty-rotate {
    margin: 20px;
    width: 200px;
    height: 200px;
    border: 4px double #bd6c46;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
  } 
  .beauty-rotate:hover {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }

.change-color-link{
    color: #f66d52; /* Цвет ссылки */
    font-size: 2em;
    font-weight: bold;
    padding: 20px 0px;
    line-height: 1;
    text-decoration: none;
    -webkit-transition: all 1s ease;
            transition: all 1s ease; /* Время изменения цвета */
}
.change-color-link:hover{
    color: #84ff00; /* Меняем цвет ссылки */
}

.container{
    display: grid;
    grid-template-areas: 
    "a b k y"
    "l d e c"
    "f d e c"
    ;
    grid-template-columns: 250px 2fr 1fr 200px;
}
.container2{
    display: grid;
    grid-template-columns: 250px 2fr 250px;
    grid-template-rows: 100px 2fr 100px;
    box-sizing: border-box;
    border: 2px solid brown;
    border-radius: 10px;
    
}

.beauty-rotate{
    grid-area: a;
}

.hello{
    grid-area: b;
    text-align: center;
    font-size: 3rem;
    padding-top: 40px;
    color: violet;
    text-shadow: -1px -1px white, 1px 1px gray, 2px 2px #7a7a7a, 3px 3px #757575, 4px 4px #707070, 5px 5px #6b6b6b, 6px 6px #666666, 7px 7px #616161, 8px 8px #5c5c5c, 9px 9px #575757, 10px 10px #525252, 11px 11px #4d4d4d, 18px 18px 30px rgba(0, 0, 0, .4), 18px 18px 10px rgba(0, 0, 0, .4);
   
}

.news  {
    width: 85%;
    border: 4px double #bd6c46;
    grid-area: e;
    margin: 20px;
    font-family: Font;
    text-align: start;
    font-size: 1.8rem;

}
.post {
    margin-left: 10px;
    font-size: 1.4rem;
}

.post-font{
    font-size: 1rem;
}
.null{
    grid-area: d;
    margin-top: 20px;
    text-align: center;
    padding: 25px;
    font-size: 2rem;
    color: red;
    border-radius: 5px;
    border: 4px double #bd6c46;
    box-shadow: 2px 2px 2px 1px black;

}

.menu{
    grid-area: l;
}
.menu2{
    margin-top: 0px;
    height: 50px;
    border: solid green 1px;
    margin: 20px;
    width: 83%;
    box-sizing: border-box;
    padding-top: 10px;
    font-size: 0.8rem;
    text-align: center;
    border-radius: 5px;
    font-family: menu-font;
}


.kontakt {
    grid-area: y;
    margin-top: 20px;
    text-shadow: 1px 1px 2px blueviolet;
    color: white;
    width: 200px;
}

.reklama {
    grid-area: c;
    margin-top: 20px;
}
@media screen and (max-width:768px) {
    .menu2{
        margin: 20px auto;
        width: 100%;

    }
    .container{
        display: block;
    }
    .beauty-rotate {
        display: none;
    }

    .hello{
        font-size: 2.5rem;
    }
    
    .news{
        display: none;
    }
    .kontakt{
        margin: 20px;
    }
    .reklama{
        margin: 24px;
    }

}
