body{
    background: linear-gradient(to right, white,green);  
}

@font-face {
    font-family: Font;
    src: url('../font/7Hi3uc7D.ttf');
}

.beauty-rotate {
    width: 200px;
    height: 200px;
    border: 4px double #bd6c46;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
  } 
  .beauty-rotate:hover {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }

.change-color-link{
    color: #f66d52; /* Цвет ссылки */
    font-size: 2em;
    font-weight: bold;
    padding: 20px 0px;
    line-height: 1;
    text-decoration: none;
    -webkit-transition: all 1s ease;
            transition: all 1s ease; /* Время изменения цвета */
}
.change-color-link:hover{
    color: #51ff00; /* Меняем цвет ссылки */
}

.container{
    display: grid;
    grid-template-areas: 
    "a b k"
    "c d e"
    "c d f"
    ;
    grid-template-columns: 250px 1fr 170px;
    grid-template-rows: 200px 2fr 2fr 200px;
}
.container2{
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    grid-template-rows: 100px 1fr 100px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 1px black;
    border: 2 px solid brown;
    border-radius: 10px;
    
}

.beauty-rotate{
    grid-area: a;
}

.hello{
    grid-area: b;
    text-align: center;
    font-size: 3rem;
    padding-top: 40px;
    color: violet;
    text-shadow: -1px -1px white, 1px 1px gray, 2px 2px #7a7a7a, 3px 3px #757575, 4px 4px #707070, 5px 5px #6b6b6b, 6px 6px #666666, 7px 7px #616161, 8px 8px #5c5c5c, 9px 9px #575757, 10px 10px #525252, 11px 11px #4d4d4d, 18px 18px 30px rgba(0, 0, 0, .4), 18px 18px 10px rgba(0, 0, 0, .4);
   
}

.information{
    grid-area: c;
    /*grid-column: 1/2;*/
    margin-top: 15px;
    font-family: Font;
    text-align: center;
    font-size: 2rem;
    text-shadow: 1px 1px 2px pink;

}

.null{
    grid-area: d;
    /*grid-column: 2/3;*/
    margin-top: 15px;
    text-align: center;
    font-size: 2rem;
    color: red;
    box-sizing: border-box;
    border-radius: 30px;
    border: solid brown 2px;
    box-shadow: 2px 2px 2px 1px black;

}

.menu{
    grid-area: e;
    /*grid-column: 3/4;*/
    margin-top: 15px;
    height: 50px;
    border: solid red 2px;
    margin:10px auto 0;
    width: 80%;
    box-sizing: border-box;
    padding-top: 10px;
    font-size: 0.8rem;
    text-align: center;
    border-radius: 10px;
    font-family: menu-font;
    /*background: radial-gradient(#F4A460,#D2691E);*/
}

.menu2{
    grid-area: f;
    /*grid-column: 3/4;*/
    height: min-content;
    text-align: center;
    grid-column: 3/4;
    margin-top: 15px;
    height: 50px;
    border: solid red 2px;
    margin:10px auto 0;
    width: 80%;
    box-sizing: border-box;
    padding-top: 10px;
    font-size: 0.8rem;
    text-align: center;
    border-radius: 10px;
    font-family: menu-font;
}

.kontakt {
    grid-area: k;
    margin-top: 30px;
    margin-right: 30px;
    text-shadow: 1px 1px 2px blueviolet;
}
@media screen and (max-width:768px) {
    .container{
        display: block;
    }

    .beauty-rotate {
        display: none;
    }

    .hello{
        font-size: 2.5rem;
    }

    .information{
        margin-top: 50px;
    }

}
