body {
    background: yellow;
}
.cur{
    font-style:italic;
}
.hold{
    font-weight: hold;
}
.roman{
    list-style-type:lower-roman;
}
.sq{
    list-style-type:square;
}
.circle{
    list-style-type:disc;
}