.img1 {
    width: 200px;
    height: 200px;
    margin-left: 1250px;
    background-position: right;
  }
.img2 {
    width: 190px;
    height: 200px;
    background-position: center;
  }

body{
    background-color: coral;
}
table {
    width: 60%; 
    background: white; 
    color:red; 
    border-spacing: 2px;
    border-top: 10px groove yellow;
    border-left: 10px groove greenyellow;
    border-right: 10px groove violet;
    border-bottom: 10px groove aqua;
    
}
td, th {
    border: none;
    background: wheat; 
    padding: 10px; 
    text-decoration: overline;
}


p{
    font-size: 20px;
}
a{
    text-decoration: none;
    text-align:center;
    color:black;
    background:local;

}

a:hover {
    color: #154088; 
    border-bottom: .07em solid;
    
    border-bottom: 2px dashed; 
    border-left: 2px;
}

.hh{
    text-align: right;
    text-decoration: overline;
}

h2{
    text-align: center;
    color: green;
    text-decoration: overline;
}

.line_1{
    text-align: left;
    font-size: 5rem;

}

.line_2{

    text-decoration: overline;
    text-align: right;
    margin-top: -102px;
}

.line_3{
    margin-top: -150px;
    text-align: left;
    font-size: 5rem;

}