.zagolovok {    
  transform: rotate(-10deg);
  position: relative;
  left: 80px;
  top: -200px;
  text-shadow: 2px 2px 2px #C404C6;
}
body{
  background: linear-gradient(45deg, #F8F5CC, #DEB887) ;
}
img{
  width: 250px;
  height: 250px;
  position: relative;
  left: 1000px;
}

.menu{
  list-style-type: none;
  padding: 3px;
  
}
.vertical-menu {
  width: 230px;
  height: 300px;
}

.vertical-menu a {
  border-radius: 10px;
  border:2px solid;
  border-color: #D2691E;
  background:radial-gradient(#F2A15C, #DF7F37);
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  text-align: center;
}

.outline{
  border-radius: 10px;
  border:2px solid;
  border-color: #D2691E;
  display: block;
  padding: 20px;
  background-color: #F5DEB3;
  width: 70%;
  height: 600px;
  position: relative;
  left: 230px;
  top: -300px;
  box-shadow: 5px 5px 5px black;
}
